<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Félix Arreola Rodríguez" />
	<title>Encuestas - {$page_title}</title>
</head>
<body>
	<ul style="list-style-type: none;">
		<li>TODO: Crear un menú aquí</li>
	</ul>
	<!-- Esta es la información del usuario -->
	<div style="float: right">
		{if !$user.isAnonymous()}
			<p>Alumno <strong>{$user.codigo}</strong>. <a href="{url 'Encuesta_Views::logout'}"><img src="{media '/img/application-exit.png'}" alt="Salir" />Salir</a></p>
		{else}
			<p><a href="{url 'Encuesta_Views::index'}">Iniciar sesión</a></p>
		{/if}
	</div>
	<div style="clear: both">
	<h1>{$page_title}</h1>
	{block body}{/block}
	</div>
{block javascript}{/block}
</body>
</html>
