{extends 'titulacion/base.html'}
{block body}
<form method="post" action="{url 'Encuesta_Views::index'}">
<input type="hidden" name="_redirect_after" value="{$_redirect_after}" />
{if $error}
<p>{$error}</p>
{/if}
<h3>Tu código de alumno:</h3>
<p><label for="id_login">Mi código es:</label><input type="text" name="login" id="id_login" value="{$login}" /></p>
<p><input type="submit" value="Ingresar" /></p>
</form>
<script type="text/javascript">
document.getElementById('id_login').focus()
</script>
{/block}
